/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  } */

* {
    margin: 0;
    padding: 0;
}

body {
   display: flex;
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-style: normal;
}
html{
    scroll-behavior: smooth;
}

p{ 
    color: rgb(85,85,85)
}

/* TRANSITION */

a,
.btn{
    transition: all 300ml ease;
}

nav,
.nav-list{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-list{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    
}